force-app/main/default/flows/Auto_Auth_Failure_Reason.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>FailureReasonSet</name>
        <label>FailureReasonSet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FailureReasonNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoteLoop.Note__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NoteLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_for_failure_reason</name>
        <label>check for failure reason</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>NoteLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoteLoop.Note__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Not Eligible for Auto SPD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FailureReasonSet</targetReference>
            </connector>
            <label>Found Reason</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Auto Auth Failure Reason {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Auth Failure Reason</label>
    <loops>
        <name>NoteLoop</name>
        <label>NoteLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getCommunication</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_for_failure_reason</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCommunication</name>
        <label>getCommunication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NoteLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Communication_Stream__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCommunication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FailureReasonNote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
