force-app/main/default/flows/Create_Special_Pricing_Requests.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Creating Requests based on inputs provided by user</description>
    <environments>Default</environments>
    <interviewLabel>Create Special Pricing Requests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Special Pricing Requests</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Query Agreement by Agreement Number</description>
        <name>Get_Agreement</name>
        <label>Get Agreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SapAgreementNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgreementNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SapVistexAgreement__c</object>
        <queriedFields>IndirectAccountLookup__c</queriedFields>
        <queriedFields>DirectAccountLookup__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <relatedRecords>
            <getFirstRecordOnly>true</getFirstRecordOnly>
            <queriedFields>Item_Code__c</queriedFields>
            <queriedFields>PriceHierarchy1__c</queriedFields>
            <queriedFields>PriceIndicatorLevel__c</queriedFields>
            <queriedFields>Id</queriedFields>
            <queriedFields>Unit_List_Price__c</queriedFields>
            <relatedObject>SapVistexAgreementLine__c</relatedObject>
            <relationshipField>SAP_Vistex_Agreement_Lines__r</relationshipField>
        </relatedRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initiate</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>AgreementNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Initiate</name>
        <label>Initiate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Start_of_floe</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>Initiate</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agreement</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Start of floe</label>
        </waitEvents>
    </waits>
</Flow>
