force-app/main/default/flows/Quote_Auth_Summary_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SPDRevLevelRecordFromFlow</name>
        <label>SPDRevLevelRecordFromFlow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SPDRevLevelRecordItemFromFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SPD_Rev_Level</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Quote Auth Summary Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Auth Summary Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SPD_Rev_Level</name>
        <label>Get SPD Rev Level</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPDRevLevelRecordFromFlow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteIdForFlow</elementReference>
            </value>
        </filters>
        <filters>
            <field>spd_rev_num__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SPDRevNumberForFlow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SPD_REV_Level__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Requested__c</queriedFields>
        <queriedFields>Total_Authorized__c</queriedFields>
        <queriedFields>Price_Authorizer_Name__c</queriedFields>
        <queriedFields>spd_auth_dt__c</queriedFields>
        <queriedFields>spd_sbmt_dt__c</queriedFields>
        <queriedFields>Submitted_By_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SPD_Rev_Level</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>QuoteIdForFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SPDRevLevelRecordItemFromFlow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SPD_REV_Level__c</objectType>
    </variables>
    <variables>
        <name>SPDRevNumberForFlow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
